/* set variables to use throughout */

	:root {
		--background: #e9e9e9;
		--foreground: #171717;
		--fontColor: black;

	}


* {
	color: var(--fontColor);
}
.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

body {
	background-color: var(--background);
  max-width: 100vw;
}

.loggedIn {
	margin: 2rem;
}
.loggedIn > * {
	margin: .75rem;
}

button {
	all: unset;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid rgb(0, 0, 0);
	padding: .3rem .5rem;
	margin: .3rem 0;
	align-self: flex-start;
}

.footer {
	margin-top: 5vh;
}

* {
	text-align: center;
}

h1 {
	font-size: 2.5rem;
}
ul {
	padding: 0;
}