/* set variables to use throughout */
:root {
  --background: #e9e9e9;
  --foreground: #171717;
}
* {
	font-size: 1.2rem;
}

body {
	background-color: var(--background);
  max-width: 100vw;
}

.loggedIn {
	margin: 2rem;
}
.loggedIn > * {
	margin: .75rem;
}

button {
	all: unset;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid rgb(0, 0, 0);
	padding: .3rem .5rem;
	margin: .3rem 0;
}